exercicios-aula-4/bin
exercicios-aula-4/include
exercicios-aula-4/lib
exercicios-aula-4/lib64
exercicios-aula-5/bin
exercicios-aula-5/include
exercicios-aula-5/lib
exercicios-aula-5/lib64

ex-28/bin
ex-28/include
ex-28/lib
ex-28/lib64

ex-27/bin
ex-27/include
ex-27/lib
ex-27/lib64